/* MEDIA QUERY PAGINA INDEX */

@media screen and (max-width: 768px) {
    #container {
        flex-direction: column;
        align-items: center;
    }

    #container div {
        width: 90%;
    }

    #news {
        order: 2;
    }

    #main {
        order: 1;
    }

    #aside {
        order: 3;
    }
}